.container-selects {
  display: flex;
  flex-direction: column;
  margin: 0.5vh auto;
}

.select {
  text-align: center;
  width: 15.2vw;
  height: 3.5vh;
  border: none;
  border-radius: 3px;
  margin-top: 1vh;
  margin: 0.5vh 0.3vw;
  font-size: 18px;
}

@media (max-width: 800px) {
  .select {
    width: 60vw;
    font-size: 15.5px;
  }
}

@media (max-width: 400px) {
  .select {
    font-size: 13.5px;
  }
}