.container-selects {
  display: flex;
  flex-direction: row;
}

.select {
  text-align: center;
  width: 15.2vw;
  height: 3.5vh;
  border: none;
  border-radius: 3px;
  margin-top: 1vh;
  margin: 2vh 0.3vw;
  font-size: 18px;
}