input {
  text-align: center;
  width: 8vw;
  height: 3.5vh;
  border: none;
  border-radius: 3px;
  margin-right: 0.6vw;
  margin-top: 1vh;
  font-size: 18px;
  font-weight: 700;
}

select {
  text-align: center;
  width: 15vw;
  height: 3.5vh;
  border: none;
  border-radius: 3px;
  margin-top: 1vh;
  font-size: 18px;
}

.container-value {
  text-align: center;
  padding-bottom: 8vh;
}

@media (max-width: 800px) {
  input {
    width: 30vw;
    font-size: 15px;
  }
  
  select {
    width: 58vw;
    font-size: 15px;
  }
}
  
@media (max-width: 400px) {
  input {
    font-size: 13.5px;
  }
  
  select {
    font-size: 13.5px;
  }
}
