@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

.title {
  text-align: center;
  padding-top: 8vh;
  padding-bottom: 6vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #FFFFFF;
}

@media (max-width: 800px) {
  .title {
    font-size: 46px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 45px;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 40px;
  }
}