.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.title {
  font-size: 50px;
  font-weight: 700;
  color: #FFFFFF;
}

@media (max-width: 1400px) {
  .title {
    font-size: 47px;
  }
}

@media (max-width: 1280px) {
  .title {
    font-size: 44px;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 34px;
  }
}

@media (max-width: 380px) {
  .title {
    font-size: 30px;
  }
}
