.resultMainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 18vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.resultText {
  margin-right: 1vw;
  font-size: 17px;
  font-weight: 400;
  color: #FFFFFF;
}

.resultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 4vh;
  border: none;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.result {
  font-size: 17px;
  font-weight: 700;
}

@media (max-width: 1400px) {
  .resultText {
    font-size: 16px;
  }

  .result {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .resultText {
    font-size: 15px;
  }

  .result {
    font-size: 15px;
  }
}

@media (max-width: 420px) {
  .resultMainContainer {
    width: 54vw;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  
  .resultText {
    font-size: 15px;
  }
  
  .resultContainer {
    width: 22vw;
    height: 3.5vh;
  }
  
  .result {
    font-size: 15px;
  }
}

@media (max-width: 380px) {
  .resultText {
    font-size: 14px;
  }
  
  .result {
    font-size: 14px;
  }
}
