@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700;900&display=swap");

* {
  font-family: "Noto Sans Mono", monospace;
  margin: 0;
  padding: 0;
  outline: 0;
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 34vw;
  height: 98vh;
  margin: 1vh auto;
  border-radius: 5px;
  background-color: #111111;
}

.container-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16.5vw;
  height: 20vh;
  border-radius: 4px;
  background-color: #232323;
}

.swal2-confirm {
  background-color: #8DD070 !important;
  box-shadow: none !important;
}

.swal2-html-container {
  color: #000000 !important;
}

@media (max-width: 800px) {
  .container-main {
    width: 97vw;
    height: 98.6vh;
    margin: 0.7vh auto;
  }

  .container-data {
    width: 66vw;
    height: 20vh;
  }

  .swal2-html-container {
   font-size: 16px !important;
  }
}

@media (max-width: 400px) {
  .swal2-html-container {
    font-size: 14px !important;
   }
}
