@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700;900&display=swap");

* {
  font-family: "Noto Sans Mono", monospace;
  margin: 0;
  padding: 0;
  outline: 0;
}

.div-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 34vw;
  height: 98vh;
  margin: 1vh auto;
  border-radius: 5px;
  background-color: #111111;
}

.div-data {
  display: flex;
  flex-direction: column;
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.89);
}

.swal-button {
  background-color: #f00;
}

.swal-button:focus {
  box-shadow: none;
}

.swal-text {
  font-weight: bold;
}

@media (max-width: 800px) {
  .div-main {
    width: 97vw;
    height: 98.6vh;
    margin: 0.7vh auto;
  }

  .swal-text {
    font-size: 14px;
  }
}
