.imageBackground {
  width: 35vw;
  margin-bottom: 2vh;
}

@media (max-width: 420px) {
  .imageBackground {
    width: 65vw;
  }
}

@media (max-width: 380px) {
  .imageBackground {
    width: 68vw;
  }
}
